// Déclaration des variables de couleurs
$ville-background-color: #eaeaea;                // Utilisé dans .ville
$reservation-background-color: #f6f6f6;           // Utilisé dans .reservation
$reservation-button-gradient-start: #9356dc;      // Utilisé dans .reservation button
$reservation-button-gradient-end: #ff79da;        // Utilisé dans .reservation button
